body {
  margin-top: 0;
  position: relative;
  width: 100%;
  overflow: scroll;
  font-size: 16px;
}

.container-fluid {
  background-color: #f5f7f6;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  width: inherit;
}

/* ------- HEADER ------- */

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.navbar ul {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 13px;
  margin-right: 43px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 10px 15px;
  margin-bottom: 0px;
}
.navbar.navbar-default .navbar-brand img {
  height: 40px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
  border: 0;
}

@media (max-width: 767px) {
   .navbar-default {
    max-width: 100px;
    text-align: left;
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
 }
   .navbar-default .navbar-nav > li > a {
    text-align: left;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 0.750em;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 0px;
  }
   .navbar-default .navbar-nav > li.active > a,
   .navbar-default .navbar-nav > li.open > a,
   .navbar-default .navbar-nav > li:hover > a
   .navbar-default .navbar-nav > li:focus > a {
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #E85D3F;
    transition: 400ms;
  }
  .navbar-header {
     /*background-color: rgba(0, 0, 0, 0.5);*/
 }
}

@media only screen and (min-width: 768px) {
  .navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
  .navbar.navbar-default .navbar-toggle {
    margin-top: 32px;
  }
  .navbar.navbar-default .navbar-brand {
    height: auto;
    padding: 22px 15px 21px;
    margin-bottom: 0;
  }
  .navbar.navbar-default .navbar-brand img {
    height: 50px;
  }
   .navbar-default {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0);
  }
   .navbar-default .navbar-nav {
    margin-top: 0px;
    margin-bottom: 5px;
  }
   .navbar-default .navbar-nav > li > a {
    font-size: 0.700em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFF;
    border: 1px solid transparent;
    transition: 400ms;
  }
   .navbar-default .navbar-nav > li.active > a,
   .navbar-default .navbar-nav > li.open > a,
   .navbar-default .navbar-nav > li > a:hover,
   .navbar-default .navbar-nav > li > a:focus {
    background: rgba(0,0,0,0.7);
    color: #FFF;
    transition: 400ms;
  }
}


/* CONTENT */
@media (min-width: 1200px) {
  #home {
    background-image: url('../img/bg-dmc.svg');
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    height: auto;
    margin-top: 0;
    z-index: 10;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
  }
  #text-box {
    margin: calc(17%) 0;
  }
  #home-page .contact {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 200;
  }
    #home-page img {
    max-width: 40%;
    margin-left: 30%;
    margin-bottom: 30px;
    }
    #home-page #icon {
        text-align: center;
    }
  #home-page #nav a {
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 1.500em;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 18px;
    margin-right: 7px;
    -webkit-transition-duration: 400s; /* Safari */
    transition-duration: 400ms;
  }
  #home-page #nav a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 1.500em;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 18px;
    margin-right: 7px;
    -webkit-transition-duration: 400ms; /* Safari */
    transition-duration: 400ms;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #home {
      background-image: url('../img/bg-dmc.svg');
      background-attachment: fixed;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #000;
      height: auto;
      margin-top: 0;
      z-index: 10;
      overflow: hidden;
      font-family: 'Lato', sans-serif;
    }
    #text-box {
      margin: calc(17%) 0;
    }
    #home-page .contact {
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      font-weight: 200;
    }
      #home-page img {
      margin-bottom: 30px;
      }
      #home-page #icon {
          text-align: center;
      }
    #home-page #nav a {
      font-weight: 300;
      color: #fff;
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400s; /* Safari */
      transition-duration: 400ms;
    }
    #home-page #nav a:hover {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #000;
      background-color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400ms; /* Safari */
      transition-duration: 400ms;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #home {
      background-image: url('../img/bg-dmc.svg');
      background-attachment: fixed;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #000;
      height: auto;
      margin-top: 0;
      z-index: 10;
      overflow: hidden;
      font-family: 'Lato', sans-serif;
    }
    #text-box {
      margin: calc(17%) 0;
    }
    #home-page .contact {
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      font-weight: 200;
    }
      #home-page img {
      margin-bottom: 30px;
      }
      #home-page #icon {
          text-align: center;
      }
    #home-page #nav a {
      font-weight: 300;
      color: #fff;
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400s; /* Safari */
      transition-duration: 400ms;
    }
    #home-page #nav a:hover {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #000;
      background-color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400ms; /* Safari */
      transition-duration: 400ms;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #home {
      background-image: url('../img/bg-dmc.svg');
      background-attachment: fixed;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #000;
      height: auto;
      margin-top: 0;
      z-index: 10;
      overflow: hidden;
      font-family: 'Lato', sans-serif;
    }
    #text-box {
      margin: calc(17%) 0;
    }
    #home-page .contact {
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      font-weight: 200;
    }
      #home-page img {
      margin-bottom: 30px;
      }
      #home-page #icon {
          text-align: center;
      }
    #home-page #nav a {
      font-weight: 300;
      color: #fff;
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400s; /* Safari */
      transition-duration: 400ms;
    }
    #home-page #nav a:hover {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #000;
      background-color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400ms; /* Safari */
      transition-duration: 400ms;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    #home {
      background-image: url('../img/bg-dmc.svg');
      background-attachment: fixed;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #000;
      height: auto;
      margin-top: 0;
      z-index: 10;
      overflow: hidden;
      font-family: 'Lato', sans-serif;
    }
    #text-box {
      margin: calc(53%) 0;
    }
    #home-page .contact {
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      font-weight: 200;
    }
      #home-page img {
      margin-bottom: 30px;
      }
      #home-page #icon {
          text-align: center;
      }
    #home-page #nav a {
      font-weight: 300;
      color: #fff;
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400s; /* Safari */
      transition-duration: 400ms;
    }
    #home-page #nav a:hover {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #000;
      background-color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400ms; /* Safari */
      transition-duration: 400ms;
    }
}

@media (max-width: 375px) {
    #home {
      background-image: url('../img/bg-dmc.svg');
      background-attachment: fixed;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #000;
      height: auto;
      margin-top: 0;
      z-index: 10;
      overflow: hidden;
      font-family: 'Lato', sans-serif;
    }
    #text-box {
      margin: calc(53%) 0;
    }
    #home-page .contact {
      color: #fff;
      font-size: .9em;
      letter-spacing: 1px;
      font-weight: 200;
    }
      #home-page img {
      margin-bottom: 30px;
      }
      #home-page #icon {
          text-align: center;
      }
    #home-page #nav a {
      font-weight: 300;
      color: #fff;
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400s; /* Safari */
      transition-duration: 400ms;
    }
    #home-page #nav a:hover {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #000;
      background-color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 1.500em;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 10px 18px;
      margin-right: 7px;
      -webkit-transition-duration: 400ms; /* Safari */
      transition-duration: 400ms;
    }
}
