body {
  margin-top: 0;
  position: relative;
  width: 100%;
  overflow: scroll;
  font-size: 14px;
}

.container-fluid {
  background-color: #f5f7f6;
  padding: 0 -15px 0 -15px;
  margin-bottom: 0;
  margin-top: 0;
  width: inherit;
}

/* ---- LARGE DEVICES --- */
@media (min-width: 1200px) {
  #home {
    color: #000;
    height: 800px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 150px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    float: left;
    margin-top: 100px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #939598;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 15px ;
  }
  #home-page #nav a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E85D3F;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #E85D3F;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- MEDIUM SCREENS - STANDARD ---- */
@media (min-width: 992px) and (max-width: 1200px) {
  #home {
    color: #000;
    height: 800px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 150px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    float: left;
    margin-top: 80px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #939598;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 15px ;
  }
  #home-page #nav a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E85D3F;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #E85D3F;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- SMALL SCREENS - LANDSCAPE ---- */
@media (min-width: 771px) and (max-width: 992px) {
  #home {
    color: #000;
    height: 800px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 150px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    float: left;
    margin-top: 80px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #939598;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 15px ;
  }
  #home-page #nav a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E85D3F;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #E85D3F;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- IPAD PORTRAIT ---- */
@media (min-width: 767px) and (max-width: 770px){
  #home {
    color: #333333;
    height: 1024px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 230px 0;
  }
  #logo-box {
    margin-left: 16.66666667%;
    width: 66.66666667%;
  }
  #logo-box p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 3.355em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
  }
  #logo-box #nav {
    margin-top: 21px;
    text-align: center;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 1.500em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #54C899;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- IPHONE 6 PLUS - LANDSCAPE (735-760)---- */
@media (min-width: 735px) and (max-width: 767px){
  #home {
    color: #333333;
    height: 400px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 50px 0;
  }
  #logo-box {
    margin-left: 16.66666667%;
    width: 66.66666667%;
  }
  #logo-box p {
    margin-top: 18px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 2.050em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
  }
  #logo-box #nav {
    margin-top: 21px;
    text-align: center;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 1.500em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #54C899;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- IPHONE 6 - LANDSCAPE ---- */
@media (min-width: 665px) and (max-width: 734px){
  #home {
    color: #000;
    height: 800px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 150px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    float: left;
    margin-top: 80px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #939598;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 15px ;
  }
  #home-page #nav a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #E85D3F;
    text-align: center;
    font-size: 1.950em;
    text-decoration: none;
    border: 2px solid #E85D3F;
    border-radius: 3px;
    padding: 7px 15px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- IPHONE 5 - LANDSCAPE ---- */
@media (min-width: 440px) and (max-width: 664px){
  #home {
    color: #333333;
    height: 320px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 24px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin-top: 30px;
  }
  #logo-box {
    margin-left: 16.66666667%;
    width: 66.66666667%;
  }
  #logo-box p {
    margin-top: 11px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.500em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
  }
  #logo-box #nav {
    margin-top: 21px;
    text-align: center;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 1.050em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #54C899;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
}

/* ---- LARGE PHONE - PORTRAIT ---- */
@media (min-width: 380px) and (max-width: 439px){
  #home {
    color: #000;
    height: 660px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 200px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    text-align: center;
    margin-top: 30px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 1.150em;
    text-decoration: none;
    border: 1px solid #939598;
    border-radius: 3px;
    padding: 4px 10px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 10px ;
  }
}

/* ---- MEDIUM PHONE - PORTRAIT (350-379)---- */
@media (min-width: 350px) and (max-width: 379px){
  #home {
    color: #000;
    height: 660px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 200px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    text-align: center;
    margin-top: 30px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 0.950em;
    text-decoration: none;
    border: 1px solid #939598;
    border-radius: 3px;
    padding: 4px 10px;
    margin-right: 7px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 10px ;
  }
}

/* ---- SMALL PHONE - PORTRAIT (>-350)---- */
@media (max-width: 349px){
  #home {
    color: #000;
    height: 568px;
    margin-top: 0;
    background-color: none;
    z-index: 10;
    overflow: hidden;
  }
  .container-fluid {
    background-color: #fff;
  }
  nav .navbar-right .navbar-link a, a:hover, a {
    text-decoration: none;
  }
  nav .navbar-right .navbar-link i {
    padding: 20px 0 20px 20px;
    font-size: 30px;
    color: #5EC097;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  nav .navbar-right .navbar-link i:hover {
    color: #F7966D;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #text-box {
    margin: 180px 0;
  }
  #home-page p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.800em;
    font-style: italic;
    line-height: double;
  }
  #home-page #nav {
    text-align: center;
    margin-top: 30px;
  }
  #home-page #nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #939598;
    text-align: center;
    font-size: 0.750em;
    text-decoration: none;
    border: 1px solid #939598;
    border-radius: 3px;
    padding: 4px 10px;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
  }
  #home-page #nav i {
    margin-right: 10px ;
  }
}
